<ion-header>
  <ion-navbar>
    <ion-title>Datos del alumno</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card ion-item *ngFor="let item of items">
      <ion-item>
        <ion-avatar item-start>
            <img src="{{ item.email | gravatar:'robohash' }}">
        </ion-avatar>
        <h2>{{ item.firstname }} {{ item.lastname }}</h2>
        <h3>{{ item.username }}</h3>
        <p><i>{{ item.email }}</i></p>
      </ion-item>
      <ion-card-content>
        <ul>
          <li>Carrera: {{ item.plan }}</li>
          <li>Modalidad: {{ item.mode }}</li>
          <li>Ingreso: {{ item.generation }}</li>
          <li>Contraseña: {{ item.curp | curp:'password' }}</li>
          <li>Genero: {{ item.curp | curp:'gender' }}</li>
          <li>CURP: {{ item.curp }}</li>
          <li>Inscripciones actuales: {{ item.inscriptions }}</li>
        </ul>
      </ion-card-content>
    </ion-card>
    <ion-card ion-item *ngFor="let user of moodleUser">
      <ion-card-content>
        <ul>
          <li>Suspendido: {{ user.suspended }}</li>
          <li>Primer acceso: {{ user.firstaccess * 1000 | date:'dd/MM/yyyy HH:mm' }}</li>
          <li>Ultimo acceso: {{ user.lastaccess * 1000 | date:'dd/MM/yyyy HH:mm' }}</li>
        </ul>
      </ion-card-content>
    </ion-card>

 
  <ion-fab right bottom #fab>
    <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="getEnrollment(fab)"><ion-icon name="cloud-upload"></ion-icon></button>
      <button ion-fab *ngIf="enrollment" (click)="deleteUser(fab)"><ion-icon name="trash"></ion-icon></button>
      <button ion-fab *ngIf="enrollment" (click)="changePassword(fab)"><ion-icon name="unlock"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
