page-search-students {
    .ion-spinner {
        display: block;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
}
